html {
    font-family: sans-serif;
    height: auto;
    text-align: center;
    margin: 10px auto;
}

.thinkful-cert, .google-a-cert {
    cursor: pointer;
}

.thinkful-cert:hover, .google-a-cert:hover {
    opacity: 0.7;
}

a, button, img {
    cursor: pointer;
}

.nav {
    cursor: pointer;
}

a.links {
    margin-bottom: 5%;
    margin-top: -1.5%;
}

html, body {
    margin: 0;
}

.project-section {
    margin: 0px 5px;
    line-height: 1.5rem;
}

.about {
    color: white;
    background-color: black;
}

header {
    background-color: white;
    color: black;
    margin: 5px 5px;
}

.container {
    margin: 15px 10px;
    margin-bottom: 15%;
}

li {
    list-style-type: none;
}

.project-list {
    margin-bottom: 25%;
}

.nav-ul {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid white;
    margin: 5px 3px;
    font-size: 18px;
    border-radius: 10px;
    padding: 3px 5px;
}

.feedmeimg, .spacedimg, .quizimg {
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.feedmeimg, .spacedimg, .quizimg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.feedmeimg:hover, .spacedimg:hover, .quizimg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.9);
    cursor: pointer;
    border: 3px solid black;
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close,.close2,.close3,.close4,.close5 {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    font-size: 40px;
    font-weight: bold;
    transition: 0.1s;
}

.close:hover, .close:focus,.close2:hover, .close2:focus, .close3:hover, .close3:focus, .close4:hover, .close4:focus, .close5:hover, .close5:focus  {
    color: rgb(138, 9, 9);
    text-decoration: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-thumb:hover {
    background: #0f0f0fdc;
}

@media screen and (min-width: 250px) {
    .container {
        display: block;
        cursor: pointer;
      }

      .project-list {
          margin-top: 15%;
      }

    .nav {
        display: none;
        padding-top: 5px;
    }

    .nav-ul {
        position: absolute;
        margin-top: -10%;
        margin-left: -10%;
        text-align: left;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .bit-main {
        width: 75%;
        margin-bottom: 30%;
    }

    .computers {
        width: 60%;
        position: relative;
        margin-bottom: -2.3%;
    }

    .about {
        padding: 15px;
        line-height: 1.5rem;
        text-align: left;
        height: 450px;
    }

    .second-header {
        text-align: center;
    }

    .project-section {
        margin-top: -30%;
        border-radius: 15px;
        background-color: white;
        color: black;
        padding: 10px 10px;
        padding-bottom: 75px;
        margin-bottom: -30%;
        position: relative;
    }

    .feedmeimg, .spacedimg, .quizimg {
        width: 75%;
    }

    .acheivements {
        margin-top: 15%;
        padding-top: 10%;
        padding-bottom: 15%;
        margin-bottom: -7%;
        color: white;
        background-color: black;
    }

    footer {
        background-color: white;
        color: black;
        padding: 10px;
        width: 97.5%;
        margin-left: 0.5%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .bit-desk {
        width: 60%;
        margin-bottom: 25%;
    }

    .github {
        width: 39.5px;
    }

    .linkedin {
        width: 40px;
    }

    .mail {
       width: 43px;
       background-color: white;
       border-radius: 100%;
    }

    .copyright, .cright {
        font-size: 14px;
        margin-bottom: 10%;
        margin-top: 20%;
    }

    .contact-title {
        margin-top: 75%;
    }

    .project-description {
        text-align: left;
        padding-left: 15px;
        font-size: 18px;
        margin: 12% 1.5%;
    }

    .tech-ul {
        display: block;
        margin-left: -15%;
        margin-bottom: 10%;
    }

    .tech {
        display: inline;
    }

    .modal {
        width: 90%;
        height: 30%;
        left: 5%;
        top: 10%;
    }
}

@media screen and (min-width: 350px) {
    h1 {
        margin-top: 30%;
    }

    .about {
        font-size: 18px;
        padding: 10px 30px;
        margin-bottom: 10%;
        padding-top: 15%;
    }

    .about-text {
        margin-left: 3.5%;
    }

    .tech-ul {
        margin-left: -12%;
    }

    .nav-ul {
        margin-left: -7%;
    }

    .modal {
        width: 90%;
        height: 36%;
        left: 5%;
    }
}

@media screen and (min-width: 400px) {
    .bit-main {
        width: 65%;
    }

    .modal {
        width: 80%;
        height: 40%;
        left: 10%;
    }
}

@media screen and (min-width: 475px) {
    .modal {
        width: 80%;
        height: 45%;
        left: 10%;
    }
}

@media screen and (min-width: 550px) {
    .bit-main {
        width: 50%;
    }

    .tech-ul {
        margin-left: -8%;
    }

    .nav-ul {
        margin-left: -5%;
        font-size: 18px;
    }
    
    .sub-header {
        font-size: 18px;
    }

    h1 {
        margin-top: 25%;
    }

    .project-list {
        font-size: 20px;
    }

    .project-description {
        text-align: center;
    }

    .bit-desk {
        width: 35%;
        margin-bottom: 20%;
    }

    .contact-title {
        margin-top: 35%;
        margin-bottom: 15%;
    }

    .copyright, .cright {
        margin-bottom: 2%;
    }

    .project-section {
        margin-bottom: -20%;
    }

    .modal {
        width: 80%;
        height: 53%;
        left: 10%;
    }
}

@media screen and (min-width: 650px) {
    .modal {
        width: 80%;
        height: 55%;
        left: 10%;
    }
}

@media only screen and (min-width: 700px){
    .modal {
        width: 80%;
        height: 60%;
        top: 30%;
        left: 10%;
    }
  }

@media screen and (min-width: 750px) {
    .bit-main {
        width: 40%;
        margin-bottom: 20%;
    }

    .computers {
        width: 55%;
    }

    .bit-desk {
        width: 30%;
    }

    .copyright, .cright {
        margin-top: 10%;
    }

    .container {
        display: none;
    }

    .nav-ul {
        flex-direction: row;
        padding-left: 7%;
    }

    .nav-bar {
        margin-top: -12%;
    }

    .nav {
        display: contents;
        display: block;
        margin-left: 1.5rem;
    }

    .about {
        text-align: center;
        line-height: 2rem;
        font-size: 20px;
    }

    .second-header {
        margin-top: -2.5%;
    }

    h3 {        
        font-size: 20px;
    }

    .project-list {
        margin-top: 10%;
        margin-bottom: 15%;
        font-size: 24px;
    }

    .project-description {
        margin-top: 8%;
    }

    .project-section {
        padding: 0px 10%;
        padding-top: 5%;
    }

    a.links {
        margin-bottom: 10%;
    }

    .modal {
        width: 80%;
        height: 65%;
        left: 10%;
    }
}

@media screen and (min-width: 800px) {
    .modal {
        width: 75%;
        height: 75%;
        left: 12.5%;
    }
}

@media screen and (min-width: 950px) {
    .bit-main {
        width: 30%;
        margin-top: 5%;
    }

    .project-list {
        font-size: 28px;
        margin-left: -4%;
    }

    .project-description {
        text-align: left;
    }

    .project {
        padding: 0px 20px;
    }

    .inner-section {
        display: flex;
        flex-direction: row;
        margin-left: -5%;
    }

    .feedmeimg {
        width: 100%;
    }

    .quizimg {
        width: 90%;
    }

    .spacedimg {
        width: 100%;
    }

    .inner-section {
        padding-left: 7%;
    }

    .tech-ul {
        margin-left: -20%;
    }

    #live {
        margin-top: 15%;
    }

    #server {
        margin-bottom: 25%;
    }

    .bit-desk {
        width: 25%;
        margin-bottom: 15%;
    }

    .contact-title {
        margin-bottom: 10%;
        font-size: 24px;
    }

    .modal {
        width: 70%;
        height: 45%;
        left: 15%;
        top: 25%;
    }

    .thinkful-img {
        width: 100%;
    }

    .google-cert-img {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .modal {
        width: 65%;
        height: 70%;
        left: 17.5%;
        top: 15%;
    }
}

@media screen and (min-width: 1100px) {
    .bit-main {
        width: 22.5%;
        margin-bottom: 15%;
    }

    .computers {
        width: 40%;
        margin-bottom: -1%;
    }

    .about-text {
        padding: 0px 50px;
    }

    .project-section {
        margin-top: -20%;
    }

    .project-list {
        margin-bottom: 10%;
    }

    .project-description {
        font-size: 20px;
        margin-left: 3%;
    }

    .tech-ul {
        margin-left: -12%;
    }

    .contact-title {
        font-size: 30px;
        margin-top: 10%;
    }

    .bit-desk {
        width: 18%;
        margin-bottom: 10%;
    }

    .intro {
        font-size: 36px;
    }

    .sub-header {
        font-size: 20px;
    }

    .nav {
        font-size: 20px;
    }

    .modal {
        width: 60%;
        height: 54%;
        left: 20%;
        top: 15%;
    }

    .about-text {
        margin: 30px 150px;
        line-height: 2.25rem;
    }
    
}

@media screen and (min-width: 1300px) {
    .modal {
        width: 50%;
        height: 53%;
        left: 25%;
    }
}